.number-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: 30px;
    width: 30px;

    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */

    background-color: #3D6B37;
    color: white;
    text-align: center;
    font-size: 1em;
    margin-right: 10px;
}

.number-text-container {
    display: flex;
    padding-bottom: 1%;
}