.text-box {
    border-radius: 25px;
    background: #3D6B37;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 5px;
}

.text-box.text {
    text-align: center;
    vertical-align: middle;
    color: white;
    align-self: center;
}